<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html"><img src="images/logo1.png" alt="logo1" /></a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html"><h1>Home</h1></a></li>
            <li><h5>ABOUT OUR MEETINGS</h5>
                <ul class="actions">
                  <li><a href="aboutus.html"><i>A Helpful Guide</i></a></li>
                  <li><a href="meetings.html"><i>Meeting Topics</i></a></li>
                </ul>
            </li>
            <li><h5>ABOUT US</h5>
                <ul class="actions">
                  <li><a href="media.html"><i>Media Presence</i></a>
                </ul>
            </li>
            <li><a href="credits.html"><h1>Credits</h1></a></li>
            <li><a href="inspirations.html"><h1>INSPIRATIONS</h1></a></li>
            <li><a target="_blank" href="{{ site.baseurl }}/images/resources.pdf"><h1>RESOURCES</h1></a></li>

            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                   class="icon fa-feed"> RSS Feed</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
